.form-control{
  background-color: rgba(255,255,255,0.2);
  color: white;
}
.note-editor.note-frame .note-editing-area .note-editable{
  background-color: transparent;
  color: white;
  font-size: 16px;
}
.panel{
  background-color: rgba(255,255,255,0.2);
}
.bootstrap-tagsinput{
  background-color: rgba(255,255,255,0.2);
  border: 0;
  color: white;
  padding: 8px 12px;
  width: 100%;
}
h2{
  font-family: 'Noto Sans TC Bold', serif;
}
select option {
  background-color: rgba(0,0,0,0.8);
  text-shadow:0 1px 0 rgba(0,0,0,0.4);
}
.newArticle-modal{
  width: 90%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'GeneralFont', sans-serif;
}
.newArticle-content{
  background-image: url("../image/text-background.png");
}
.warning-text{
  color: red;
  padding: 10px;
}
.success-text{
  color: lightgreen;
  padding: 10px;
}
